

.carousel-inner {
    background-color: rgb(218, 218, 44) !important;
    }

body {background-color: rgb(11, 109, 11);       
    }

    body {
        background-image: url("FONDO.jpg");
      }

    h1 {text-align: center

    }
   
    h1 {text-shadow: 0 0 0.2em #8F7 
    
    }
   
   h1 {font-size: 80px;
     
    }