

.carousel-inner {
    background-color: rgb(192, 226, 255) !important;
    }

    body {background-color: rgb(15, 142, 170); }

      body {
        background-image: url("fnd.jpg");
      }




      h1 {text-align: center}

      h1 {text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
    0 0 0.2em #87F}

    h2 {color: rgb(7, 17, 85);}

    h3 {color: rgb(4, 29, 65);}
